@model IEnumerable<FlowerStore.Models.Flower>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shopping Cart</h1>
</hr>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">


        @if ((Model.NumInCart) > 0)
        {
            @foreach (var Item in Model)
            {
                <div class="col-md-4">
                    <img src="@Item.Image" class="card-img" alt="FlowerType">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> @Item.Name</h5>
                        <h5 class="card-title"> @Item.price</h5>
                        <h6 class="card-title">@Item.Quantity</h6>


                        <button type="button" class="btn btn-primary">
                            CheckOut
                        </button>
                    </div>
                </div>

                <div>
                    <a asp-action="Delete" asp-route-id="@Item.Id">Delete</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            }
        }
    </div>
</div>