@model FlowerStore.Models.AdminListItem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AdminListItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddFlower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddFlower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditFlower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditFlower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteFlower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteFlower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameofFlower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameofFlower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
