@model IEnumerable<FlowerStore.Models.AdminListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Administration Page</h1>

<p>
    <a asp-action="Create">Admin Checklist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddFlower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditFlower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteFlower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameofFlower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddFlower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditFlower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteFlower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofFlower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
